* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

.center { 
    text-align: center;
}

.links {
    text-decoration: none;
    color: grey
}

.logo {
    width: 80px;
    height: 80px
}

.description {
    padding: 5px;  
}

.proImage {
    width: 175px;
    height: 175px;
    border-radius: 100%;
}