* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Noto Sans', sans-serif;
}

/* Works on Firefox */
* {
scrollbar-width: thin;
scrollbar-color: darkgray white;
}

body {
    overflow-x: hidden;
}


/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 7px;
}

*::-webkit-scrollbar-track {    
    background: white;
}

*::-webkit-scrollbar-thumb {
    background-color: darkgray;
    border-radius: 20px;
}

.center { 
    text-align: center;
}

.links {
    text-decoration: none;
    color: red
}

.logo {
    width: 100px;
    height: 100px
}

.pointer {
    cursor: pointer;
}

.description {
    padding: 5px;  
}

.proImage {
    width: 175px;
    height: 175px;
    border-radius: 100%;
}

.category:hover {
    background-color: grey;
}

.product:hover {
    scale: 0.9;
}

.btn:hover {
    scale: 0.8
}

.carousel__dot {
    width: 20px;
    height: 10px;
}